{% extends 'base-admin.html.twig' %}

{% block title %}Edition actualité -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('edit') }}
{% endblock %}

{% block body %}
	<main class="container my-5">
		<h1 class="text-center text-primary">Edition actualité</h1>
		{{ include('admin_actuality/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
		<div class="d-flex justify-content-start">
			<a class="btn btn-primary mt-3" href="{{ path('admin_actuality_index') }}"><i class="bi bi-caret-left-square-fill me-2"></i>Retour à la liste</a>
		</div>
	</main>
{% endblock %}
