{% extends 'base-admin.html.twig' %}

{% block title %}Admin Actualités -
	{{ parent() }}
{% endblock %}

{% block body %}
	<main class="container my-5">
		<h1 class="text-primary text-center my-3">Administration actualités</h1>
		<a class="btn btn-primary fs-5" href="{{ path('admin_actuality_new') }}"><i class="bi bi-file-earmark-plus-fill me-2 fs-4"></i>Nouvelle actualité</a>
		<div class="d-flex flex-column align-items-center">
			{% include "admin_actuality/_adminActualityCards.html.twig" %}
		</div>
	</main>
{% endblock %}
