<form method="post" action="{{ path('admin_session_delete', {'id': session.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer {{ session.title }} de {{ session.category.title }} ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ session.id) }}">
	<button class="btn btn-danger px-3 py-1 d-flex align-items-center justify-content-center">
		<i class="bi bi-trash text-light m-1"></i>Supprimer
	</button>
</form>
