{% extends "base.html.twig" %}

{% block title %}Tarifs -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('price') }}
{% endblock %}

{% block body %}
	<h1 class="pageTitle text-primary my-5 fs-1">Tarifs</h1>
	{% include "price/_rate.html.twig" %}
	{% include "price/_gift.html.twig" %}
{% endblock %}
