{% extends 'base.html.twig' %}

{% block title %}
	Accueil -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
	{{ encore_entry_link_tags('actuality') }}
{% endblock %}
{% block header %}
	{% include "items/_header.html.twig" %}
{% endblock %}

{% block body %}

	<h1 class="text-primary text-center my-4">Les dernières actualités</h1>
	<div class="d-flex flex-column align-items-center">
		{% include "items/_actualityCards.html.twig" %}
	</div>
{% endblock %}
