{% extends 'base.html.twig' %}


{% block title %}
	Accueil -
	{{ parent() }}
{% endblock %}

{% block body %}
	<main class="bg-primary">
		<h1 class="text-secondary"><i class="bi bi-align-top"></i>sgds</h1>
	</main>
{% endblock %}
