{% extends 'base.html.twig' %}


{% block title %}
	Accueil -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
	<h1 class="text-secondary text-center my-3">Bienvenue</h1>
	<div class="d-flex flex-column align-items-center">
		{% include "home/components/_actualityCards.html.twig" %}
	</div>
{% endblock %}
