<div class="presentationElement p-3 row flex-lg-row flex-column m-0 bg-light">
	<h2 class="p-0 mb-3">
		<span class="presentationTitle text-primary p-0 fs-2">Mon parcours</span>
	</h2>
	<img class="myJourney col-lg-3 p-0 rounded" src="{{ asset('build/images/myJourney.jpg') }}" alt="">
	<p class="col-lg-9 mt-3 mt-lg-0 p-0 ps-lg-3">Une petite présentation de mon parcours.
		<br><br>
		Infirmière depuis 2017, je me suis reconvertie vers les métiers du bien-être en 2020. Je ressentais l'envie, par le toucher, la relaxation et la détente de continuer à accompagner les personnes vers un mieux être et de participer à améliorer leur qualité de vie au quotidien.
		<br><br>
		Amoureuse de voyage, la réflexologie m'est apparue comme une invitation au voyage dans son propre soi. Un voyage psychosensoriel. C'est un temps, un moment qui permet de se centrer sur soi-même, d'arrêter cette course effrénée que nous impose la société actuelle. Un temps pour se relaxer, penser à soi et à son bien-être . Je me suis donc formée à la méthode de réflexologie Fischmann pendant 14 mois à l'école Internationale de Réflexologie de Nantes. J'ai eu la chance d'être formée par Madame Fischmann, fondatrice d'une méthode incroyable.
		<br><br>
		C'est un immense bonheur de pouvoir exercer une méthode aussi puissante et sensorielle que celle-ci et de voir son efficacité s'exercer à chaque nouvelle personne et chaque nouvelle séance. Avec la réflexologie, le rendez-vous est pris pour un voyage de bien-être intense !
	</p>
</div>
