{% extends 'base.html.twig' %}

{% block title %}
	Présentation -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('presentation') }}
{% endblock %}

{% block body %}
	<h1 class="pageTitle text-primary my-5 fs-1" id="scrollspyPresentation">Présentation</h1>
	<section class="row gap-5 m-0">
		{% include "presentation/_myJourney.html.twig" %}
		{% include "presentation/_reflexology.html.twig" %}
	</section>
{% endblock %}
