{% extends 'base.html.twig' %}

{% block title %}Prestations -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('session') }}
{% endblock %}

{% block body %}
	<h1 class="pageTitle text-primary my-5 fs-1">Prestations</h1>
	<div class="row gap-5 m-0">
		{% for category in categories %}
			{% include "session/_sessionCard.html.twig" %}
		{% endfor %}
	</div>
{% endblock %}
