{% extends 'base.html.twig' %}

{% block title %}Prestations -
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('session') }}
{% endblock %}

{% block body %}
	<h1 class="pageTitle text-primary my-5 fs-1">Prestations</h1>
	{% include "session/_sessionCards.html.twig" %}
{% endblock %}
