@import "variables.scss";
@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");
@import "navbar.scss";
@import "footer.scss";

body {
    background-color: $light;
    background-image: url("../images/VDS_Motif_Marigold.svg");
    background-size: cover;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
div {
    font-family: $font;
}