@import "variables.scss";

.banner {
    box-shadow           : 0px 0px 8px -2px black;
    background-image     : url(../images/VDS_Motif_Terre.svg);
    background-size      : cover;
    background-attachment: fixed;

    h1 {
        // width: fit-content;

        .mainTitle {
            font-size: 60px;
        }
    }

    img {
        max-height: 300px;
        filter    : sepia(30%);
        object-fit: cover;
    }
}

@media screen and (max-width: 480px) {

    .banner h1 .mainTitle {
        font-size: 34px;
    }
}