@import "variables.scss";

.banner {
    box-shadow           : 0px 0px 8px -2px black;
    background-image     : url(../images/VDS_Motif_Terre.svg);
    background-size      : cover;
    background-attachment: fixed;

    h1 {
        font-size  : clamp(20px, 2vw, 30px);
        white-space: nowrap;

        .mainTitle {
            font-size  : clamp(36px, 3vw, 60px);
            white-space: nowrap;
        }
    }

    img {
        object-fit: cover;
        width     : 50%;
        height    : auto;
    }

    .tableHeader {
        filter: sepia(30%);
    }
}

// @media screen and (max-width: 540px) {

//     .banner h1 .mainTitle {
//         font-size: 34px;
//     }
// }