@import "variables.scss";

.actuCard {
    box-shadow   : $shadow-card;
    border       : 4px solid $secondary;
    border-radius: $spacing;

    img {
        object-fit: contain;
    }

    .presentationTitle {
        border-bottom: 1px solid $secondary;
        width        : fit-content;
    }
}