@import "variables.scss";

.navbar {
    font-weight: 500;
    box-shadow : 0px 0px 8px -2px black;

    .topHeader {
        box-shadow         : 0px 0px 8px -2px $primary;
        background-image   : url("../images/VDS_Motif_Marigold.svg");
        background-size    : cover;
        background-position: center;

        img {
            height: 50px;
        }
    }

    div .navbar-nav .nav-link {
        color           : $primary;

        &:hover {
            color           : $secondary;
            background-color: $primary;
            transition: 0.3s ease-in;
        }
    }
}