@import "variables.scss";

.table {
    box-shadow     : $shadow-card;
    border         : 4px solid $secondary;
    border-radius  : $spacing;
    border-collapse: separate;
    width          : 60%;

    thead tr td span {
        width        : fit-content;
        border-bottom: 1px solid $secondary;
    }
}

.priceInfos {
    width: 35%;

    .priceDetails {
        border       : 2px dashed $secondary;
        border-radius: $spacing;
        box-shadow   : $shadow-card;
    }
}

h2 {
    width: fit-content;
}

.gift {
    border       : 4px solid $secondary;
    border-radius: $spacing;
    box-shadow   : $shadow-card;

}

@media screen and (max-width: 991px) {
    .priceInfos {
        width: 100%;
    }

    .table {
        width: 100%;
    }
}