@import "variables.scss";

.sessionsBody {
    background-image     : url("../images/VDS_Motif_Terre.svg");
    background-size      : cover;

    h2 {
        border-bottom: 4px solid $secondary;
    }
}