{% for actuality in actualities %}
	<div class="actuCard col-12 bg-light p-3">
		<h2 class="presentationTitle text-primary p-0 fs-2 mb-3">
			{{ actuality.title }}
		</h2>
		<div class="row m-0 justify-content-between gap-4 gap-lg-0">
			<img class="actuImg col-lg-4 rounded p-0 align-self-start {% if actuality.picture is null %}h-25 p-5{% endif %}" src={% if actuality.picture is not null %} "{{ vich_uploader_asset(actuality, 'pictureFile') }}" {% else %} "{{ asset('build/images/VDS_Vertical_Couleur.png') }}" {% endif %} alt="">
			<div class="col-lg-8 p-0 px-lg-3">{{ actuality.content|raw }}</div>
		</div>
	</div>
{% endfor %}
