{% block stylesheets %}
	{{ encore_entry_link_tags('header') }}
{% endblock %}
<img class="banner" src="{{ asset('build/images/header.jpg') }}" alt="">
<h2 class="headerText fs-1 text-light d-flex align-items-center justify-content-center align-self-center">
	<i>"La réflexologie, c'est super je trouve"</i>
</h2>
