{% block stylesheets %}
	{{ encore_entry_link_tags('header') }}
{% endblock %}
<img class="banner" src="{{ asset('build/images/header.jpg') }}" alt="">
<h1 class="headerText w-100 fs-1 text-light d-flex align-items-center justify-content-center align-self-center">
	<i>Prenez rendez-vous avec votre bien-être !</i>
</h1>
