{% block stylesheets %}
	{{ encore_entry_link_tags('header') }}
{% endblock %}
<img class="banner" src="{{ asset('build/images/header.jpg') }}" alt="">
<h1 class="headerText w-75 text-primary d-flex flex-column align-items-center gap-4">
	<span class="fs-2">Cabinet de réflexologie</span>
	<span class="mainTitle text-secondary">Voyage des sens</span>
	<i class="fs-2">À la rencontre du bien-être</i>
</h1>
