<div class="topHeader bg-secondary d-flex justify-content-center align-items-center p-2">
	<img class="logoText mx-3" src="{{ asset('build/images/VDS_Horizontal_Complet_Terre.svg') }}" alt="Logo et texte header"/>
	<span class="text-primary fs-3 mx-3">Jennifer Quenault - Réflexologie</span>
</div>
<nav class="navbar navbar-expand-lg navbar-primary bg-primary sticky-top p-0">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<a class="nav-link text-secondary" href="#">Accueil</a>
			<a class="nav-link text-secondary" href="#">Mon parcours</a>
			<a class="nav-link text-secondary" href="#">Reflexologie</a>
			<a class="nav-link text-secondary" href="#">Prestations</a>
			<a class="nav-link text-secondary" href="#">Tarifs</a>
			<a class="nav-link text-secondary" href="#">Offrir</a>
			<a class="nav-link text-secondary" href="#">Contact</a>
		</div>
	</div>
</nav>
