{% extends "base.html.twig" %}
{% block footer %}{% endblock %}
{% block body %}
	<h1 class="pageTitle text-primary my-5 fs-1">
		Erreur 404 !
	</h1>
	<h2 class="presentationTitle text-primary p-0 fs-2">
		La page que vous recherchez n'existe pas :
		<a href="{{ path('home_index') }}">
			Retour à l'accueil
		</a>
	</h2>
{% endblock %}
