{% extends "base.html.twig" %}
{% block title %}
	Erreur 404 -
	{{ parent() }}
{% endblock %}
{% block body %}
	<h1 class="pageTitle text-primary my-5 fs-1">
		Page non trouvée
	</h1>
	<section class="bg-light border border-4 rounded border-secondary p-3 m-0 shadow">
		<p class="fs-5">
			La page à laquelle vous essayez d'accéder n'existe pas.
		</p>
		<a class="btn btn-primary" href="{{ path('home_index') }}">
			Retour à l'accueil
		</a>
	</section>
{% endblock %}
