{% extends "base.html.twig" %}
{% block title %}
	Erreur 500 -
	{{ parent() }}
{% endblock %}
{% block body %}
	<h1 class="pageTitle text-primary my-5 fs-1">
		Le serveur a rencotré un problème
	</h1>
	<section class="bg-light border border-4 rounded border-secondary p-3 m-0 shadow">
		<p class="fs-5">
			Le serveur a rencontré un problème et ne peut pas afficher la ressource demandée.
		</p>
		<a class="btn btn-primary" href="{{ path('home_index') }}">
			Retour à l'accueil
		</a>
	</section>
{% endblock %}
